name: Ham-Media front app

on:
  push:
    paths:
      - frontend/**
      - .github/workflows/frontend.yml
      - package.json
      - yarn.lock

jobs:
  tscheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '16.13.1'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn install
        working-directory: ./frontend
      - name: Type Check
        run: yarn tscheck
        working-directory: ./frontend
  deploy_stg:
    runs-on: ubuntu-latest
    needs: tscheck
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'renovate[bot]' }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'ap-northeast-1'
      NEXT_PUBLIC_GOOGLE_MAP_API_KEY: ${{ secrets.NEXT_PUBLIC_GOOGLE_MAP_API_KEY }}
      NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID: ${{ secrets.NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '16.13.1'
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install sls
        run: yarn global add serverless@2
      - name: Deploy
        run: ENV=stg FRONT_DEPLOY_NOTIFICATION_URL=${{ secrets.FRONT_DEPLOY_NOTIFICATION_URL }} /bin/bash deploy.sh -y
        working-directory: ./frontend
