name: Ham-Media front app

on:
  push:
    paths:
      - frontend/**
      - .github/workflows/frontend.yml
      - ./package.json
      - ./yarn.lock

jobs:
  tscheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ./node_modules
          key: ${{ runner.os }}-${{ hashFiles('./yarn.lock') }}
      - name: Install dependencies
        run: yarn install
        working-directory: ./frontend
      - name: Type Check
        run: yarn tscheck
        working-directory: ./frontend
  deploy_stg:
    runs-on: ubuntu-latest
    needs: tscheck
    if: github.ref == 'refs/heads/develop'
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'ap-northeast-1'
      NEXT_PUBLIC_GOOGLE_MAP_API_KEY: ${{ secrets.NEXT_PUBLIC_GOOGLE_MAP_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ./node_modules
          key: ${{ runner.os }}-${{ hashFiles('./yarn.lock') }}
      - name: Install sls
        run: yarn global add serverless
      - name: Deploy
        run: ENV=stg FRONT_DEPLOY_NOTIFICATION_URL=${{ secrets.FRONT_DEPLOY_NOTIFICATION_URL }} /bin/bash deploy.sh -y
        working-directory: ./frontend
