name: Ham-Media front app

on:
  push:
    paths:
      - frontend/**
      - .github/workflows/frontend.yml

jobs:
  tscheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('./yarn.lock') }}
      - name: Install dependencies
        run: yarn install
        working-directory: ./frontend
      - name: Type Check
        run: yarn tscheck
        working-directory: ./frontend
  deploy:
    runs-on: ubuntu-latest
    needs: tscheck
    if: github.ref == 'refs/heads/develop'
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'ap-northeast-1'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('./frontend/yarn.lock') }}
      - name: Deploy
        run: ENV=stg sh deploy.sh
        working-directory: ./frontend
