name: Ham-Media front app

on:
  push:
    paths:
      - frontend/**
      - .github/workflows/frontend.yml
      - package.json
      - pnpm-lock.yaml

jobs:
  tscheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.12.1
          run_install: false
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
        working-directory: ./frontend
      - name: Type Check
        run: pnpm tscheck
        working-directory: ./frontend
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.12.1
          run_install: false
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
        working-directory: ./frontend
      - name: Lint
        run: pnpm lint
        working-directory: ./frontend
      - name: Format
        run: pnpm format:check
        working-directory: ./frontend
