name: Check GraphQL Schema

on:
  push:
    paths:
      - graphql/**
      - backend/server/graphql/**
      - frontend/api/**
      - pnpm-lock.yaml

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9.x
          run_install: false
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
        working-directory: ./backend
      - name: Generate GraphQL Schema
        run: pnpm dev &
        working-directory: ./backend
      - name: Check schema diff
        run: bash check_code_diff.sh
  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9.x
          run_install: false
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install
        working-directory: ./frontend
      - name: Generate GraphQL Schema
        run: pnpm generate
        working-directory: ./frontend
      - name: Check schema diff
        run: bash check_code_diff.sh
